
:root{
    /*colors*/
    --header-footer-color: rgb(10, 9, 9);
    --column-color:grey;
    --column-text-color:white;
    --background-color:white;
    --header-footer-text-color:white;
    --body-text-color:black;

    /*typography*/
    --universal-font: 'Roboto';
    --logo-text-size:2rem;
    --logo-text-weight:700;
    --nav-item-size:1rem;
    --nav-item-weight:lighter;
    --column-text-size:1rem;
    --column-text-weight:lighter;
    --footer-text-size:1.5rem;
    --footer-text-weight:lighter;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: var(--universal-font);
}

body{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

header{
    min-width: 100%;
    background-color: var(--header-footer-color);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--header-footer-text-color);
    padding: 20px;
}

#logo-text{
    font-size: var(--logo-text-size);
    font-weight: var(--logo-text-weight);
}

nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: var(--nav-item-size);
    font-weight: var(--nav-item-weight);
}

a,
a:visited,
a:hover,
a:active {
  color: var(--header-footer-text-color); 
  text-decoration: none;
}

#hero-section{
    min-width: 100%;
    padding: 35px;
}

#hero-container{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

img:hover{
    transform: scale(1.2);
}

#welcome-container{
    width: 100%;
    height: auto;
}

#welcome-title{
    width: 100%;
    font-size: var(--column-text-size);
    font-weight: var(--logo-text-weight);
}

#welcome-description{
    width: 100%;
    font-size: var(--column-text-size);
    font-weight: var(--column-text-weight);
}

@media screen and (width >= 768px) and (width <= 1024px){
    #hero-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

#column-section{
    min-width: 100%;
    padding: 35px;
}

#column-container{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    container-type: inline-size;
    container-name: column-container;
}



.column{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--column-color);
    color: var(--column-text-color);
    font-size: var(--column-text-size);
    font-weight: var(--column-text-weight);
}

@media screen and (width < 768px){
    #hero-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #column-container{
        flex-direction: column;
    }

    .column{
        width: 100%;
        height: auto;
    }

    header{
        flex-direction: column;
        align-items: start;
        gap:10px;
    }

    nav{
        flex-direction: column;
    }
}

footer{
    min-width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color: var(--header-footer-color);
    color: var(--header-footer-text-color);
    padding: 20px;
}
